USE master
GO
/****** Object:  Database [DB_QLSieuThi]    Script Date: 11/7/2024 5:00:21 PM ******/
CREATE DATABASE DB_QLSieuThi
GO

USE DB_QLSieuThi
GO


-- ================= Tạo bảng + khoá chính ========================
-- Bảng KHACHHANG
CREATE TABLE KHACHHANG (
    MaKH VARCHAR(10) PRIMARY KEY,
    TenKH NVARCHAR(50),
    SDT VARCHAR(10),
    NgaySinh DATE,
    DiaChi NVARCHAR(200),
    MucThanThiet VARCHAR(10),
    NgayLap DATE,
);


-- Bảng PHIEUMUAHANG
CREATE TABLE PHIEUMUAHANG (
    MaPhieuMuaHang VARCHAR(10) PRIMARY KEY,
    MaKH VARCHAR(10),
    QuaTang INT,
    TrangThai NVARCHAR(50), -- đã sử dụng / chưa sử dụng
    NgayBatDau DATE,
    NgayKetThuc DATE,
);


-- Bảng THANTHIET
CREATE TABLE THANTHIET (
    MucThanThiet VARCHAR(10) PRIMARY KEY,
    QuaTang INT,
    MucGiamMemberSale DECIMAL(5,2),
    GiaTriMuaSamToiThieu INT,
    GiaTriMuaSamToiDa INT
);


-- Bảng DONHANG
CREATE TABLE DONHANG (
    MaDH VARCHAR(10) PRIMARY KEY,
    MaKH VARCHAR(10),
    NgayLap DATE,
    MaPhieuMuaHang VARCHAR(10),
    HinhThucDatHang VARCHAR(10),    
    TongTien INT,
    ThanhTien INT,
);


-- Bảng CHITIETDH
CREATE TABLE CHITIETDH (
    MaDH VARCHAR(10),
    MaSP VARCHAR(10),
    SoLuong INT,
    GiaNiemYet INT,
    MaKM VARCHAR(10),
    SoLuongSPDaApDung INT,
    ThanhTien INT,
    PRIMARY KEY (MaDH, MaSP)
);


-- Bảng SALE
CREATE TABLE SALE (
    MaKM VARCHAR(10) PRIMARY KEY,
    ThoiGianBatDau DATE,
    ThoiGianKetThuc DATE
);


-- Bảng FLASHSALE
CREATE TABLE FLASHSALE (
    MaKM VARCHAR(10) PRIMARY KEY,
    MaSP VARCHAR(10),
    TiLeGiamGia DECIMAL(5,2),
    SoLuongGioiHan INT,
    SoLuongSPDaApDung INT
);


-- Bảng COMBOSALE
CREATE TABLE COMBOSALE (
    MaKM VARCHAR(10) PRIMARY KEY,
    MaSP1 VARCHAR(10),
    MaSP2 VARCHAR(10),
    TiLeGiamGia DECIMAL(5,2),
    SoLuongGioiHan INT,
    SoLuongSPDaApDung INT
);


-- Bảng MEMBERSALE
CREATE TABLE MEMBERSALE (
    MaKM VARCHAR(10) PRIMARY KEY,
    MaSP VARCHAR(10),
    MucThanThiet VARCHAR(10),
    TiLeGiamGia DECIMAL(5,2),
    SoLuongGioiHan INT,
    SoLuongSPDaApDung INT
);


-- Bảng DANHMUC
CREATE TABLE DANHMUC (
    MaDanhMuc VARCHAR(10) PRIMARY KEY,
    TenDanhMuc NVARCHAR(50),
    MoTa NVARCHAR(200)
);


-- Bảng SANPHAM
CREATE TABLE SANPHAM (
    MaSP VARCHAR(10) PRIMARY KEY,
    TenSP NVARCHAR(200),
    MaDanhMuc VARCHAR(10),
    SoLuongTD INT,
    NSX NVARCHAR(100),
    GiaNiemYet INT,
    MoTa NVARCHAR (500)
);


-- Bảng LICHSUGIA
CREATE TABLE LICHSUGIA (
    MaGia VARCHAR(10) PRIMARY KEY,
    MaSP VARCHAR(10),
    NgayBatDau DATE,
    NgayKetThuc DATE,
    GiaBan INT
);


-- Bảng LOHANG
CREATE TABLE LOHANG (
    MaLH VARCHAR(10) PRIMARY KEY,
    MaSP VARCHAR(10),
    MaDDH VARCHAR(10),
    SoLuong INT,
    HSD DATE,
    NgayNhan DATE
);


-- Bảng DONDATHANG
CREATE TABLE DONDATHANG (
    MaDDH VARCHAR(10) PRIMARY KEY,
    MaSP VARCHAR(10),
    GiaNhap INT,
    SoLuongDat INT,
    SoLuongNhan INT,
    NgayDat DATE,
    NgayNhanDuKien DATE,
    TrangThai NVARCHAR(50)
);


-- ================= Bổ sung các khoá ngoại ========================


-- KHACHHANG(MucThanThiet) -> THANTHIET(MucThanThiet)
ALTER TABLE KHACHHANG
ADD CONSTRAINT FK_KHACHHANG_THANTHIET
FOREIGN KEY (MucThanThiet)
REFERENCES THANTHIET(MucThanThiet);


-- PHIEUMUAHANG(MaKH) -> KHACHHANG(MaKH)
ALTER TABLE PHIEUMUAHANG
ADD CONSTRAINT FK_PHIEUMUAHANG_KHACHHANG
FOREIGN KEY (MaKH)
REFERENCES KHACHHANG(MaKH);


-- DONHANG(MaKH) -> KHACHHANG(MaKH)
ALTER TABLE DONHANG
ADD CONSTRAINT FK_DONHANG_KHACHHANG
FOREIGN KEY (MaKH)
REFERENCES KHACHHANG(MaKH);


-- DONHANG(MaPhieuMuaHang) -> PHIEUMUAHANG(MaPhieuMuaHang)
ALTER TABLE DONHANG
ADD CONSTRAINT FK_DONHANG_PHIEUMUAHANG
FOREIGN KEY (MaPhieuMuaHang)
REFERENCES PHIEUMUAHANG(MaPhieuMuaHang);


-- CHITIETDH(MaDH) -> DONHANG(MaDH)
ALTER TABLE CHITIETDH
ADD CONSTRAINT FK_CHITIETDH_DONHANG
FOREIGN KEY (MaDH)
REFERENCES DONHANG(MaDH);


-- CHITIETDH(MaSP) -> SANPHAM(MaSP)
ALTER TABLE CHITIETDH
ADD CONSTRAINT FK_CHITIETDH_SANPHAM
FOREIGN KEY (MaSP)
REFERENCES SANPHAM(MaSP);


-- CHITIETDH(MaKM) -> SALE(MaKM)
ALTER TABLE CHITIETDH
ADD CONSTRAINT FK_CHITIETDH_SALE
FOREIGN KEY (MaKM)
REFERENCES SALE(MaKM);


-- MEMBERSLAE(MucThanThiet) -> THANTHIET(MucThanThiet)
ALTER TABLE MEMBERSALE
ADD CONSTRAINT FK_MEMBERSALE_THANTHIET
FOREIGN KEY (MucThanThiet)
REFERENCES THANTHIET(MucThanThiet);


-- MEMBERSALE(MaKM) -> SALE(MaKM)
ALTER TABLE MEMBERSALE
ADD CONSTRAINT FK_MEMBERSALE_SALE
FOREIGN KEY (MaKM)
REFERENCES SALE(MaKM);


-- FLASHSALE(MaKM) -> SALE(MaKM)
ALTER TABLE FLASHSALE
ADD CONSTRAINT FK_FLASHSALE_SALE
FOREIGN KEY (MaKM)
REFERENCES SALE(MaKM);


-- COMBOSALE(MaKM) -> SALE(MaKM)
ALTER TABLE COMBOSALE
ADD CONSTRAINT FK_COMBOSALE_SALE
FOREIGN KEY (MaKM)
REFERENCES SALE(MaKM);


-- FLASHSALE(MaSP) -> SANPHAM(MaSP)
ALTER TABLE FLASHSALE
ADD CONSTRAINT FK_FLASHSALE_SANPHAM
FOREIGN KEY (MaSP)
REFERENCES SANPHAM(MaSP);


-- COMBOSALE(MaSP1) -> SANPHAM(MaSP)
ALTER TABLE COMBOSALE
ADD CONSTRAINT FK_COMBOSALE_SANPHAM1
FOREIGN KEY (MaSP1)
REFERENCES SANPHAM(MaSP);


-- COMBOSALE(MaSP2) -> SANPHAM(MaSP)
ALTER TABLE COMBOSALE
ADD CONSTRAINT FK_COMBOSALE_SANPHAM2
FOREIGN KEY (MaSP2)
REFERENCES SANPHAM(MaSP);


-- LOHANG(MaSP) -> SANPHAM(MaSP)
ALTER TABLE LOHANG
ADD CONSTRAINT FK_LOHANG_SANPHAM
FOREIGN KEY (MaSP)
REFERENCES SANPHAM(MaSP);


-- LOHANG(MaDDH) -> DONDATHANG(MaDDH)
ALTER TABLE LOHANG
ADD CONSTRAINT FK_LOHANG_DONDATHANG
FOREIGN KEY (MaDDH)
REFERENCES DONDATHANG(MaDDH);


-- DONDATHANG(MaSP) -> SANPHAM(MaSP)
ALTER TABLE DONDATHANG
ADD CONSTRAINT FK_DONDATHANG_SANPHAM
FOREIGN KEY (MaSP)
REFERENCES SANPHAM(MaSP);


-- SANPHAM(MaDanhMuc) -> DANHMUC(MaDanhMuc)
ALTER TABLE SANPHAM
ADD CONSTRAINT FK_SANPHAM_DANHMUC
FOREIGN KEY (MaDanhMuc)
REFERENCES DANHMUC(MaDanhMuc);


-- LICHSUGIA(MaSP) -> SANPHAM(MaSP)
ALTER TABLE LICHSUGIA
ADD CONSTRAINT FK_LICHSUGIA_SANPHAM
FOREIGN KEY (MaSP)
REFERENCES SANPHAM(MaSP);


-- ================= Xem lại các khoá ngoại =================
SELECT
    OBJECT_NAME(fk.parent_object_id) AS TableName,
    fk.name AS ForeignKeyName
FROM sys.foreign_keys fk;





